* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
}
.page{ display:flex;

}
.menu-container{
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;

}

.menu{
  width: 900px;
  display: flex;
  justify-content: space-between;
}
.header-container{
  color:#5995DA;
  background-color: #D6E9FE;
  display:flex;
  justify-content: center;

}
.header {
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  display:flex;
  justify-content: space-around;
  color: gray;
  font-size: 20px;
  flex-direction: column;
  text-align: center;
}
.content-container {
  width: 900px;
  display: flex;
  justify-content: space-background;
  flex-direction:row;
  align-items: center;
}
.content1, .content2, .content3, .content4 {
border: 1px solid orange;
width: 300px;
height: 300px;
align-items: center;
}

.footer-item1, .footer-item2 {
  display:flex;
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height:200px;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (max-width:400px) {

}

@media only screen and (min-width:401 px) and (max-width: 960 px) {
  .sign_up, .feature-1, .feature-2, .feature-3 {
    width: 50%;
  }
}

@media only screen and (min-width: 961 px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }
  .header {
    height: 400px;
  }
  .sign-up {
    height:200px;
    order:1;
  }
  .content{
    order:2;
  }
}
